.App {
  font-family: sans-serif;
  text-align: center;
}
.profile img {
  width: 200px;
  padding: 5px;
  border-radius: 50%;
}

.card {
  height: 400px;
  width: 250px;
  /* padding: 5px; */
  box-shadow: 1px 5px 5px 1px;
}
/* About */
.cards {
  /* display: flex; */

  margin: auto;

  padding: 10px;
}
.profiles {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}
